h1{
    color: red;
    padding-left: 10px;
    margin-left: 10px;
    
}
p{
    padding-left: 5px;
}
h2{
    border-bottom: 2px solid black;
    margin-left: 5px;
    padding-left: 10px;
}
.p1{
    border: 2px solid black ;
    background-color: plum;
    height: 40 px;
    width: 300px;
    padding-bottom: 0.2cm;
    padding-left: 5px;
    margin-left: 5px;
}
body{
    background-color: rgb(192, 255, 192);
    border-left: 2px black solid;
   
}